@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/gym.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*---------------------------------Nav-Bar*/

.navbar {
    background-color: #c8a2c8 !important;
}

.navbar .navbar-text {
    color: #ffffff;
}

.navbar .navbar-text:hover {
    color: #ffffff;
}

.navbar .navbar-text li a {
    color: #ffffff !important;
}


.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
}



/*---------------------------------Logo*/



/*---------------------------------Buttons*/

.swagbutton {
    margin-top: auto;
    font-weight: 100;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    border: solid 2px #c8a2c8;
    border-radius: 50px;
    padding: 10px 80px;
}

.swagbutton:hover {
    background-color: #c8a2c8;
    color: #ffffff;
}
    






/*---------------------------------Footer*/

footer {
    position: relative;
    height: 150px;
    padding-bottom: 20px;
}

section {
    height: 90vh;
}

.container-fluid {
    background: #c8a2c8;
}
/*---------------------------------Social Links Buttons*/

ul li a {
    margin-top: 30px;
    font-size: 2em;
}

ul li a:hover {
    background-color: #c8a2c8;
    color: #000000;
}
/*---------------------------------Social Links Buttons*/




.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

/*---------------------------------feedback.html*/



/*---------------------------------Table*/

table {
    background-color: #ffffff;
}

/*---------------------------------Address*/

address {
    text-align: center;
    background: rgba(236, 84, 160, 0.5);
    color: #ffffff;
    margin: 100px;
    padding: 15px;
}

/*---------------------------------Classes*/

.container {
    background-color: rgba(236, 84, 160, 0.5);
}

.caption {
    background-color: rgba(236, 84, 160, 0.5);
    font-weight: bold;
}

.gap100 {
    padding: 20px 0px;
}

/*---------------------------------Feedback*/

.testimonial {
    width: 720px;
    height: auto;
    margin: 120px auto;
}

.testimonial .item {
    width: 220px;
    margin: 0 10px;
    float: left;
    background: #c8a2c8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
    border-radius: 25px;
}

.testimonial .item .img {
    padding: 20px;
}

.testimonial .item .img img{
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.testimonial .item .name{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testimonial .item .content{
    background: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.testimonial .item .content h1{
    margin-bottom: 10px;
    color: #6ddfc0;
}

.testimonial .item .content p{
    line-height: 20px;
    margin-bottom: 15px;

}

/*---------------------------------Join*/

.sign-up-form {
    width: 650px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    background: #ffffff;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.sign-up-form h1 {
    color: #c8a2c8;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    }

    button {
        color: #ffffff;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        font-size: 15px;
        margin: 10px 0;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .signup-btn {
        background-color: #c8a2c8;
    }
***************************-to addimage
    img {
        width: 70px;
        margin-top: -50px; 
    }











@media only screen and (max-width: 768px) {
  /* For mobile phones: */

#sign-up-form {
    width: 100%;
}






/* media query ends here with it's closing curly bracket */
}