@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
    font-family: century-Gothic;
}

body {
    background-image: url('../images/gym.jpg');
    background-size: cover;
}

/*---------------------------------Text*/

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

label {
    background-color: #ffffff;
}



ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 2px solid #ffffff;
}


.main {
    max-width: 1400px;
    margin: auto;
}

.title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btn {
    border: 1px solid #ffffff;
    padding: 10px 25px;
    color: #ffffff;
    transition: 0.7s ease-in-out;
}

.btn {
    background-color: #ffffff;
    color: #000000;
}

.row {
    text-align: center;
    color: #ffffff;
}

.flex-row-reverse {
    text-align: center;
}

/*---------------------------------Logo*/

.headerlogo {
    text-align: center;
    background-color: #c8a2c8;
}


/*---------------------------------Footer*/

footer {
    position: relative;
    margin-top: -150px; 
    height: 150px;
    padding-bottom: 20px;
    background-color: #c8a2c8;
}

section {
    height: 90vh;
}

/*---------------------------------Social Links Buttons*/

ul {
    margin-top: 30px;
    font-size: 2em;
}

ul li a:hover {
    background-color: #c8a2c8;
    color: #000000;
}

/*---------------------------------Submit Form*/


/*---------------------------------Table*/

table {
    background-color: #ffffff;
}




