@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/gym.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*---------------------------------Nav-Bar*/

.navbar {
    background-color: #c8a2c8 !important;
}

.navbar .navbar-text {
    color: #ffffff;
}

.navbar .navbar-text:hover {
    color: #ffffff;
}

.navbar .navbar-text li a {
    color: #ffffff !important;
}


.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
}



/*---------------------------------Logo*/

.headerlogo {
    background: #c8a2c8;
    text-align: center;
}

/*---------------------------------Text*/

.col-12 {
    background: rgba(24, 23, 23, 0.76);
    color: #ffffff;
}


/*---------------------------------Buttons*/




    







/*---------------------------------Footer*/

section {
    min-height: 95vh;
}

footer {
    position: relative;
    height: 150px;
    background-color: #c8a2c8;
    margin: auto;
    clear: both;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
}

.fa-facebook {
    padding: 20px;
    font-size: 40px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    background: #c8a2c8;
    color: white;
}

.fa-twitter {
    padding: 20px;
    font-size: 40px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    background: #c8a2c8;
    color: white;
}

.fa-instagram {
    padding: 20px;
    font-size: 40px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    background: #c8a2c8;
    color: white;
}

.fa-facebook:hover {
    background-color: #3B5998;
    opacity: 0.7;
}

.fa-twitter:hover {
    background-color: #55ACEE;
    opacity: 0.7;
}

.fa-instagram:hover {
    background-color: #125688;
    opacity: 0.7;
}
  

/*---------------------------------feedback.html*/



/*---------------------------------Table*/

table {
    background-color: #ffffff;
}

/*---------------------------------Address*/

address {
    text-align: center;
    background: rgba(236, 84, 160, 0.5);
    color: #ffffff;
    margin: 100px;
    padding: 15px;
}

/*---------------------------------Classes*/

.container {
    background: rgba(24, 23, 23, 0.76);
}

.caption {
    background: rgba(24, 23, 23, 0.76);
    font-weight: bold;
}

.gap100 {
    padding: 0px;
    color: #ffffff;
    text-align: center; 
}

.thumbnail {
    width: 85%;
    text-align: center;
    color: #ffffff;
}

.col-md {
    text-align: center;
    display: block;
    padding: 5px;
    margin-left: 75px;
}



/*---------------------------------Feedback*/


.clear_fix {
    clear: both;
}

.testimonial {
    width: 720px;
    height: auto;
    margin: 120px auto;
}

.testimonial .item {
    width: 220px;
    margin: 0 10px;
    float: left;
    background: #c8a2c8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
    border-radius: 25px;
}

.testimonial .item .img {
    padding: 20px;
    border-radius: 50%;
}

.testimonial .item .img img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.testimonial .item .name {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testimonial .item .content {
    background: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.testimonial .item .content h1 {
    margin-bottom: 10px;
    color: #ffffff;
}

.testimonial .item .content p {
    line-height: 20px;
    margin-bottom: 15px;
    color: #ffffff;
}




/*---------------------------------Join*/

.sign-up-form {
    width: 550px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    background: #ffffff;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.sign-up-form h1 {
    color: #c8a2c8;
    margin-bottom: 25px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    }

    button {
        color: #ffffff;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        font-size: 15px;
        margin: 10px 0;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .signup-btn {
        background-color: #c8a2c8;
    }












@media only screen and (max-width: 768px) {
  /* For mobile phones: */

.sign-up-form {
    width: 100%;
    margin-top: 0;
}

.col-md {
    text-align: center;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
.sign-up-form {
    width: 100% !important;
    height: 100% !important;
    }
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}






/* media query ends here with it's closing curly bracket */
}